datasets==2.20.0
transformers
huggingface-hub
Jinja2
numpy
pandas
pydantic==2.9.2
pytrec_eval==0.5
rich
scikit-learn
sentence-transformers
tokenizers
tqdm
openai
tiktoken
jieba
nltk
sentencepiece
protobuf
